<form class="{{cssClass}} form_tagmar" autocomplete="off">
    <header class="sheet-header">
        <div class='container'>
            <div class="row container_dados">
                <div class="col-md-4">
                    <img class="tagmarLogo" src="systems/tagmar_rpg/templates/sheets/img/logo.png"/> 
                </div>
                <div class="col-md-8">
                    <h1 class="fairyDust" style="text-align: center; padding-top:20px;">Raça</h1>
                </div>
            </div>
            <div class="row container_dados">
                <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
                <h1 class="fairyDust"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            </div>
            <div class="row container_dados">
                <div class="container">
                    <div class="row dados">
                        <div class="col-md-4">
                            <label><h4 class="mediaeval">Energia Física:</h4></label>
                        </div>
                        <div class="col-md-2">
                            <input name="system.ef_base" type="number" value="{{data.system.ef_base}}" height="30"/>
                        </div>
                        <div class="col-md-4">
                            <label><h4 class="mediaeval">Velocidade Base:</h4></label>
                        </div>
                        <div class="col-md-2">
                            <input name="system.vb" type="number" value="{{data.system.vb}}" height="30"/>
                        </div>
                    </div>
                    <div class="row dados">
                        <div class="col-md-12">
                            <table>
                                <caption class="mediaeval">Modificadores Raciais</caption>
                                <tr style="text-align: left;">
                                    <th class="mediaeval">INT</th>
                                    <th class="mediaeval">AUR</th>
                                    <th class="mediaeval">CAR</th>
                                    <th class="mediaeval">FOR</th>
                                    <th class="mediaeval">FIS</th>
                                    <th class="mediaeval">AGI</th>
                                    <th class="mediaeval">PER</th>
                                </tr>
                                <tr>
                                    <td>
                                        <input name="system.mod_racial.INT" type="number" value="{{data.system.mod_racial.INT}}"/>
                                    </td>
                                    <td>
                                        <input name="system.mod_racial.AUR" type="number" value="{{data.system.mod_racial.AUR}}"/>
                                    </td>
                                    <td>
                                        <input name="system.mod_racial.CAR" type="number" value="{{data.system.mod_racial.CAR}}"/>
                                    </td>
                                    <td>
                                        <input name="system.mod_racial.FOR" type="number" value="{{data.system.mod_racial.FOR}}"/>
                                    </td>
                                    <td>
                                        <input name="system.mod_racial.FIS" type="number" value="{{data.system.mod_racial.FIS}}"/>
                                    </td>
                                    <td>
                                        <input name="system.mod_racial.AGI" type="number" value="{{data.system.mod_racial.AGI}}"/>
                                    </td>
                                    <td>
                                        <input name="system.mod_racial.PER" type="number" value="{{data.system.mod_racial.PER}}"/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row dados">
                        <div class="col-md-12" style="height: 270px;">
                            {{editor data.system.descricao target="system.descricao" button=true owner=options.owner editable=options.editable}}
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </header>
</form>
